body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.quiz-container {
    background-color: #fff;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 90%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.answers-list {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.grid-answers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 15px;
}

.answer-item {
    background-color: #eee;
    /* Aumenta o preenchimento para um visual mais robusto */
    padding: 100px; 
    border-radius: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
    /* Aumenta o tamanho da fonte */
    font-size: 1.2rem;
    font-weight: bold;
}

.answer-item:hover {
    background-color: #ddd;
}

.selected {
    background-color: #007BFF;
    color: #fff;
}

#submit {
    /* Ajusta o preenchimento e a fonte para o botão grande */
    padding: 20px 40px; 
    font-size: 1.5rem;
    width: 100%;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
}

#submit:hover {
    background-color: #0056b3;
}